/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  body{
      font-size: 16px;
  }
  header{
      display: flex;
      flex-direction: row;
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  